/* Workshop 1 */

body {
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}

body #page {
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: auto;
}

a {
    text-decoration: none;
    outline: none;
}

a:active {
    background: none;
}

img {
    border: none;
}


/*-------------------------------------------FONTS---------------------------------------------*/

@font-face {
    font-family: 'roboto-regular-webfont';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.woff') format('woff'), url('../fonts/roboto-regular-webfont.ttf') format('truetype'), url('../fonts/roboto-regular-webfont.svg') format('svg');
}

@font-face {
    font-family: 'quicksand-bold-webfont';
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.woff') format('woff'), url('../fonts/quicksand-bold-webfont.ttf') format('truetype'), url('../fonts/quicksand-bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'magra-bold-webfont';
    src: url('../fonts/magra-bold-webfont.eot');
    src: url('../fonts/magra-bold-webfont.woff') format('woff'), url('../fonts/magra-bold-webfont.ttf') format('truetype'), url('../fonts/magra-bold-webfont.svg') format('svg');
}

@font-face {
    font-family: 'lato-regular-webfont';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype'), url('../fonts/lato-regular-webfont.svg') format('svg');
}

@font-face {
    font-family: 'lato-bold-webfont';
    src: url('../fonts/lato-bold-webfont.eot');
    src: url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype'), url('../fonts/lato-bold-webfont.svg') format('svg');
}


/*----------------------------------------header-styles---------------------------------------*/

#header {
    background-color: #eeebec;
    margin : 0;
    position: fixed;
    padding: 0;
    width: 100%;
}
#header div {
    max-width: 960px;
    margin: auto;
    padding: 41px 10px 27px;
    overflow: hidden;
}
#header div a.logo{
    margin: 0 0 0 30px;
    padding: 0;
    display: block;
    width: auto;
    float: left;
}
#header div ul{
    list-style: none outside;
    text-align: center;
    margin: 0 auto;
    padding: 17px 0 0;
    width: 513px;
    float: right;
}
#header div ul li{
    display: inline-block;
    text-transform: uppercase;
    float: left;
    margin: 0 35px;
    padding: 0;
    position: relative;
    width: auto;
    position: relative;
    display: inline-block;
}
#header div ul li a:hover{
 color:rgb(204, 7,132)   
}
#header div ul li a{
    color:rgb(83, 83, 83);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
}
.primary{
    position: absolute;
    display: none;
    width: auto;
}
.primary li a {
    display: block;
    color: red;

}

.menu1 li:hover .primary{
    display: block;
}
.secondary{
    position: absolute;
}


/*----------------------------------------body-home-styles---------------------------------------*/



/*----------------------------------------body-styles---------------------------------------*/

#body.home div.body {
    background-color:#eeebec;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    max-width: none;
}
#body.home div.body div {
    margin: 0px;
    max-width: 960px;
    overflow: hidden;
    padding: 0;
}
#body h1 {
    text-align: left;
    text-transform: uppercase;
    color: rgb(83,83,83);
    font-family: lato-regular-webfont;
    font-size: 20px;
    margin-left: 200px;
}
#body h2 {
    text-align: left;
    color:rgba(204, 7, 132, 0.459);
    font-family: lato-regular-webfont;
    font-size:  27px;
    margin-left: 200px;
}
#body p {
    text-align: left;
    color: rgb(119,118,118);
    font-family: lato-regular-webfont;
    font-size: 15px;
    margin-left: 200px;
}
.lacteos {
    display: block;
    float: right;
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 0%;
    bottom: 250px;
}


/*----------------------------------------footer-styles---------------------------------------*/

.footer {
    background-color: rgb(132,224,70);
    width: 100%;
}

.footer div {
    max-width: 1800px;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}


.footer div ul {
    display: flex;
}

.product {
    height: 55px;
    padding: 0 0 0 23px;
    margin: 0 auto;
    display: block;
    background: url(.../images/icons.png);
    background-repeat: no-repeat;
    background-position: 220px -367px;
}

.about {
    
 height: 55px;
 padding: 0 0 0 23px;
 margin: 0 auto;
 display: block;
 background: url(.../images/icons.png);
background-repeat: no-repeat;
background-position: 220px -367px;
}

.flavor {
    height: 55px;
    padding: 0 0 0 23px;
    margin: 0 auto;
    display: block;
    background: url(.../images/icons.png);
    background-repeat: no-repeat;
    background-position: 220px -367px;
}

.contact {
    height: 55px;
    padding: 0 0 0 23px;
    margin: 0 auto;
    display: block;
    background: url(.../images/icons.png);
    background-repeat: no-repeat;
    background-position: 220px -367px;
}